*{
	font-family: arial;
}

html, main, body{
	overflow: hidden;
}

#prim{

	display: block;
	margin: auto;
	border: 2px solid;
	width: 95%;
	height: 80px;
	margin-top: 20px;
	background-color: grey;
}

#uy{
	float: left;
	border: 1px solid;
	margin-left: 50px;
}

#link{
	float: right;
	border: 1px solid;
	margin-right: 50px;
}